* {
    padding: 0;
    margin: 0;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    color: #333;
    font-family: \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

img {
    margin: 0px;
    padding: 0;
    border: none;
    outline: none;
}

.content {
    background-color: #291715;
    width: 100%;
}

.clear {
    clear: both;
    width: 100%;
    height: 0px;
    font-size: 0px;
    overflow: hidden;
}

button, input, select, textarea {
    font-family: \5FAE\8F6F\96C5\9ED1, Arial, Helvetica, sans-serif;
}

input, button {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    outline: none;
    background: none;
}

button {
    border: none;
}

ul, li {
    list-style: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

a, a:active, a:link, a:visited, a:focus, a:hover {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    width: 0;
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

* {
    font-size: 0.32rem;
}

.body {
    background: url(../img/bg.jpg) no-repeat;
    height: 12.33rem;
    background-size: cover;
    width: 100%;
    /*margin-top: -3px;*/
}


header {
    height: 1rem;
    width: 100%;
    background: #fff;
}

header ul {
    display: flex;
}

header ul li {
    float: left;
    flex: 1;
    text-align: center;
    line-height: 1rem;
}

header ul li:nth-of-type(1) {
    color: #F56058;
}

header ul li:nth-of-type(2) {
    color: #333333;
}

header ul li:nth-of-type(3) {
    color: #F56058;
}

.logo {
    text-align: center;
    width: 100%;
    padding-top: 0.3rem;
}

.logo img {
    width: 2.68rem;
}

.getmoney {
    text-align: center;
    padding-top: 0.3rem;
}

.getmoney img {
    width: 6.1rem;
}

.usedata {
    width: 6.64rem;
    margin: .3rem auto;
    height: 0.8rem;
    background: #FFFFFF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    margin-bottom: 0rem;
}

.usedata span {
    flex: 1;
    text-align: center;
    line-height: 0.8rem;
    position: relative;
    font-size: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usedata span i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usedata span i img {
    /*width: 0.32rem;*/
    /*padding-right: 0.1rem;*/
    width: 0.4rem;
    padding-right: 0.2rem;
    /*padding-bottom: 0.05rem;*/
}

.usedata span strong {
    font-size: 0.3rem;
    color: #F56058;
}

.timelist {
    width: 7.21rem;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 6.58rem;
    background: #FFFFFF;
    box-shadow: 0px 5px 24px 0px rgba(204, 204, 204, 1);
}

.timelist ul {
    display: inline-block;
}

.timelist ul li {
    float: left;
    width: 1.7rem;
    height: 2.2rem;
}

.timelist ul .listdata {
    background: url(../img/2.png) no-repeat;
    background-size: contain;
    margin-left: 0.09rem;
    margin-top: 0.12rem;
}

.timelist ul .lis_maxtdata {
    background: url(../img/pic1.png) no-repeat;
    background-size: contain;
    margin-left: 0.09rem;
    margin-top: 0.12rem;
    width: 3.47rem;
    height: 2.2rem;
}

.listdata2 strong {
    color: #f5e958f2 !important;
}

.timelist ul .lis_maxtdata2 {
    background: url(../img/pic2.png) no-repeat;
    background-size: contain;
    margin-left: 0.09rem;
    margin-top: 0.12rem;
    width: 3.47rem;
    height: 2.2rem;
}

.listdata span {
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    width: 100%;
    font-size: 0.2rem;
}

body .listdata2 span {
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    width: 100%;
    font-size: 0.2rem;
    text-indent: 0px;
}

.lis_maxtdata span {
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    /* text-align: center; */
    width: 100%;
    text-indent: 0.5rem;
    font-size: 0.2rem;
}

.lis_maxtdata2 span {
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    /* text-align: center; */
    width: 100%;
    text-indent: 0.5rem;
    font-size: 0.2rem;
}

.timelist ul .listdata2 {
    background: url(../img/1.png) no-repeat;
    background-size: contain;
    margin-left: 0.09rem;
    margin-top: 0.12rem;
    width: 1.7rem;
}

.btn1 {
    background: url(../img/zu6.png) no-repeat;
    width: 5.53rem;
    height: 1.32rem;
    margin: 0 auto;
    clear: both;
    background-size: contain;
    /*margin-top: 0.4rem;*/
    text-align: center;
    padding-top: 0.15rem;
    color: #fff;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.footerStyle {
    background: url(../img/footer.png) no-repeat;
    height: 3.3rem;
    background-size: 100%;
    margin-top: -1.3rem;
}

.foot {
    padding-top: 1.3rem;
    position: relative;
    height: auto;
    width: 100%;
    line-height: 1.28rem;
}

.foot .left {
    position: absolute;
    left: 0.1rem;
    /*top: 0.2rem;*/
    width: 0.5rem;
}

.foot .rigth {
    position: absolute;
    right: 0.1rem;
    /*top: 0.2rem;*/
    width: 0.5rem;
}

.foot ul {
    display: inline-block;
    width: 6.2rem;
    text-align: center;
    margin-left: 0.7rem;

}

.foot ul li {
    float: left;
    height: 1.28rem;
    width: 1.28rem;
    margin-left: 0.2rem;
}

img {
    width: 100%;
}

.showlogin {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    z-index: 99;
}

.showlogin .bj {
    background: url(../img/tc.png) no-repeat;
    width: 5.4rem;
    height: 7.1rem;
    position: absolute;
    left: 50%;
    margin-left: -2.7rem;
    top: 50%;
    margin-top: -3.5rem;
    background-size: contain;
}

.showlogin #bj {
    background: url(../img/tc.png) no-repeat;
    width: 6.4rem;
    height: 8.1rem;
    position: absolute;
    left: 50%;
    margin-left: -3.2rem;
    top: 50%;
    margin-top: -4.5rem;
    background-size: cover;
    border-radius: 8px;
}

.showlogin .bj .form {
    position: absolute;
    bottom: 0.8rem;
    padding-left: 0.9rem;
}

.showlogin .bj .form input {
    height: 0.7rem;
    border: 1px solid #ccc;
    margin-bottom: 0.2rem;
    text-indent: 0.2rem;
    border-radius: 5px;
    width: 3.5rem;
}

/*.timelist ul li{
	background: url(../img/2.png) no-repeat;
    background-size: contain;
    margin-left: 0.09rem;
    margin-top: 0.12rem;	
}
.timelist ul li:last-child{
    background: url(../img/pic1.png) no-repeat;
    background-size: contain;
    margin-left: 0.09rem;
    margin-top: 0.12rem;
    width: 3.47rem;
    height: 2.2rem;	
}*/

.showlogin .bj .form .btn_a {
    display: inherit;
    height: 0.8rem;
    background: #F56058;
    width: 3.5rem;
    line-height: 0.8rem;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.showlogin .bj .a_close {
    width: 12px;
    height: 12px;
    background: url(../img/close.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 14px;
    top: 10px;
    cursor: pointer;
}

.timelist ul li {
    position: relative;
}

.timelist ul strong {
    position: absolute;
    left: 0.5rem;
    bottom: 0.2rem;
    text-align: center;
}

.timelist ul .colorhui {
    color: #CCCCCC;
}

.timelist ul .colorbai {
    color: #f5e958f2;
}

.get_div {
    position: absolute;
    top: 3.3rem;
    width: 100%;
    padding-left: 0.2rem;
}

.get_div h4 {
    color: #F56058;
    text-align: center;
}

.get_abtn > a {
    display: inline-block;
    float: left;
    width: 1.2rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.get_abtn .active {
    border: 1px solid #F56058;
    color: #F56058;
}

.get_div .btn_a {
    display: inline-block;
    float: left;
    /* clear: both; */
    width: 4.6rem;
    background: #F56058;
    color: #fff;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}

.mull {
    overflow-x: auto;
    overflow-y: auto;
    height: 3rem;
    width: 90%;
    margin-left: 5%;
    top: 5rem;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.jilu_ul {
    margin-top: -1rem;
    padding: 16px;
}

.jilu_ul li {
    float: left;
    height: 0.5rem;
    line-height: 0.5rem;
    width: 100%;

    /*border: 1px solid #CCCCCC;*/
    /*margin-left: 0.8rem;*/
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.25rem;
}

.jilu_ul .active {
    /*border: 1px solid #F56058;*/
    color: #F56058;
}


.mull table {
    overflow: hidden;
    font-size: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 100%;
    /*border: 1px solid red;*/
    /*border-radius: 5px;*/
    font-weight: normal;
}

.mull table tr th {
    text-align: center;
    font-size: 0.25rem;
}

.mull table tr td {
    text-align: center;
    font-size: 0.2rem;
}

.foot_img {
    display: flex;
    overflow-x: scroll;
    width: 6.8rem;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.foot_img ul {
    justify-content: space-around;
    width: 1000px;
    display: inherit;
    position: relative;
    z-index: 99;
}

.huangse {
    color: #ffd400;
}

.buqian {
    display: inline-block;
    width: 0.8rem;
    position: absolute;
    top: 0.07rem;
    left: 0.09rem;
    /*background: url(../img/buqian.png) no-repeat;*/
}

.loading {
    width: 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
}

header > ul > li {
    cursor: pointer;
}

.xinxi {
    position: absolute;
    width: 5rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    margin-left: -2.5rem;
    background: #fff;
    margin-top: -1.5rem;
    border-radius: 8px;
    overflow: hidden;

}

.xinxi header {
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    background: #F56058;
    color: #FFFFFF;
}

.xinxi .xinxidiv {
    padding: 0rem 0.2rem;
    height: 1.6rem;
    line-height: 0.7rem;
}

.xinxi footer {
    height: 0.7rem;
    background: #ccc;
    line-height: 0.7rem;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.kong {
    height: 5rem;
    width: 100%;

}

@media (min-width: 780px) {
    .jilu_ul {
        top: 4.3rem;
    }
}


.qiandaoguize {
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .layerOpen .layui-layer-title {
    /*background: #2D93CA;*/
    color: red;
    /*border-radius: 15px;*/
}

/*body .layerOpen .layui-layer-content {*/
/*background: #2D93CA;*/
/*color: red;*/
/*border-radius: 15px;*/
/*}*/

body .layerOpen .layui-layer-btn .layui-layer-btn0, .layui-layer-btn1 {
    /*background: red;*/
    font-size: smaller;
}

/*layui-layer-btn layui-layer-btn- layui-layer-btn0*/

.el-dialog__wrapper {
    padding: 10px !important;
}

.el-dialog {
    position: relative;
    margin: 0 auto 50px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    width: 100% !important;
}

.el-dialog__body {
    padding: 6px 17px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}

.el-message-box__wrapper {
    padding: 10px !important;
}

.el-message-box {
    display: inline-block;
    width: 95%;
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #EBEEF5;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    text-align: left;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.el-message-box__message {
    color: red;
    margin-top: -10px;
}

.el-message-box__headerbtn {
    position: absolute;
    top: 7px;
    right: 15px;
    padding: 0;
    border: none;
    outline: 0;
    background: 0 0;
    font-size: 16px;
    cursor: pointer;
}


.el-button--small:nth-of-type(1) {
    display: none !important;
}


.el-dialog__header {
    padding: 7px 15px 10px;
    /*background: #2D93CA;*/
}

.el-dialog__headerbtn {
    position: absolute;
    top: 8px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
}

.el-dialog__body {
    padding: 6px 17px;
    color: #606266;
    font-size: 12px !important;
    word-break: break-all;
}


.customClass1 .el-button--small:nth-of-type(2) {
    display: none !important;
}


.customClass {
    /*background: url(../img/success.jpg) no-repeat;*/
}

.customClass .el-button--small:nth-of-type(1) {
    display: block !important;
    align-items: center;
    justify-content: center;
}

.customClass .el-message-box__title {
    margin-left: -5px;
}

.customClass .el-message-box__btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmButtonClass {
    display: none !important;
}


.el-alert {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    position: relative;
    background-color: #FFF;
    overflow: hidden;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    justify-content: center;
}

.customClassLoginError {
    width: 70%;
}